@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Currently valued student in the college of business at Ohio Univeristy studying Management Information Systems. I Spend a lot of time with new consumer technology.</p>
