@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    4 1/2 W State St<br />
    Athens, OH 45701<br />
    <abbr title="Phone">P:</abbr>
    444.222.1111
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:cn894815@ohio.edu">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:cameronnagy401@gmail.com">Marketing@example.com</a>
</address>